<div class="row">
    <div class="headerWD col-10 text-bg-secondary p-3">
        <h3 class="display-6">Dotz Customer Relationship Manager</h2>
    </div>
    <div class="col-2 bg-body-tertiary p-3">
        <nav class="navbar container-fluid justify-content-start rounded-3">
            <a class="btn btn-outline-success bs-success-green me-2" href="{% url 'login' %}">Login</a>
            <a class="btn btn-sm btn-outline-tertiary" href="#">Register</a>
        </nav>
    </div> 
</div>
<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle active" href="{% url 'tasks_index' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
                              Tasks
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'tasks_index' %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'task_create' %}">Add New</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'index' %}">Statistics</a></li>
                          </ul>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tickets
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Clients</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>