__pycache__/
 *.pyc
*.pyo
*.pyd
node_modules/
COMMANDS.md
.env
*.log
db.sqlite3
backups/
*.code-workspace
project/settings.py

# @todo remove static/css from ignore list before launch
/static/css/*
/static/dist/
requirements.txt
