{% extends 'base.html' %}

{% block title %} Tasks Home {% endblock %}

{% block page_heading %}Record: {{record.description}}{% endblock %}

{% block content %}
    <div id="dates" class="info">Created: {{record.create_time}} | Updated: {{record.update_time}}</div>
    <div id="author" class="author">Creator: {{record.creator_id}}</div>
    <div id="description" class="copy">
        {{record.details}}
    </div>
    <div id="status" class="status">
        {{record.status}}
    </div>
    <div id="edit" class="btn">
        <a href="{% url 'task_edit' record.id %}">edit</a>
    </div>
    <form action="{% url 'task_info' record.id %}" method="post">{% csrf_token %}
        <input type="hidden" name="pk" value="{{ record.id }}">
        <input type="submit" value="Delete">
    </form>
{% endblock %}