<!-- base.html for Tasks -->
{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Template {% endblock %} - Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/dotzstrap.css' %}">  
  </head>
  <body>
    <div class="container">
        {% include 'includes/header.html' %}
        <div class="row align-items-start">
            <div class="col-3">
                <p>&nbsp</p>
                <h3>New Task</h3>
                <form class="form">
                  <textarea name="textarea" id="newTaskDashBoard"></textarea>
                  <button class="btn btn-secondary" type="submit">save</button>
                </form>
                <form class="d-inline-block" method="GET" action="#">
                  <button id="taskCreateBtn" class="btn btn-primary open-form" type="button" data-bs-toggle="modal" data-bs-target="#taskEditModal">New Task</button>
                </form>
            </div>
            <div class="contentWD col-9">
                <h1>{% block page_heading %}Your content{% endblock %}</h1>
                {% block content %}
                    <p> some sort of content </p>
                {% endblock %}
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script type="module" src="{% static 'dist/tasks-bundle.js' %}"></script>
  </body>
</html>