{% extends 'tasks/base.html' %}

{% block title %} Tasks Home {% endblock %}

{% block page_heading %}Tasks Management Console{% endblock %}

{% block content %}
{% include 'tasks/viewTaskModal.html' %}
{% include 'tasks/editTaskModal.html' %}
  <div class="tab-dashboard">
    <ul class="nav nav-tabs" role="tablist" id="tasksTab">
      <li class="nav-item" role="presentation">
        <button class="nav-link mx-1 active" id="tab-private-btn" data-tab-name="private" data-extra="default" type="button" role="tab" aria-controls="tab-private" aria-selected="true">Private</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link mx-1" id="tab-workspaces-btn" data-tab-name="workspaces" data-extra="" type="button" role="tab" aria-controls="tab-workspaces" aria-selected="false">Workspaces</button>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <div class="tab-pane active" id="tab-private" role="tabpanel" aria-labelledby="tab-private-btn">
        <div id="privateContainer" class="tab-results">
          <div class="container">
            <div class="col-6">
              <div id="privateTabResponses"></div>
              <ul id="todos" class="list-group">
                <li class="list-group-item">
                  <span id="" class="btn btn-sm status"><i class="bi bi-clipboard queued d-none"></i><i class="bi bi-clipboard-check-fill completed d-none"></i></span>
                  <a id="" class="link description" data-task-id="" role="button"></a>
                  <div class="text-muted small"></div>
                </li>
              </ul>
            </div>
            <div id="workspaces" class="col-6">
              <div id="workspacesTabResponses"></div>
              <ul id="" class="list-group workspace-tasks">
                <li class="list-group-item">
                  <a class="link task-details-link" data-task-id="" role="button" data-bs-toggle="modal" data-bs-target="#taskDetailsModal"></a>
                  <div class="text-muted small"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-workspaces" role="tabpanel" aria-labelledby="tab-workspaces-btn">
        <div id="workspacesContainer" class="tab-results">
        </div>
      </div>
    </div>
  </div>
  {% include 'tasks/newTaskCanvas.html' %}
{% endblock %}