<div class="offcanvas offcanvas-start" tabindex="-1" id="newTaskCanvas" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">New Task</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="lead text-justify">Add personal todo items on the fly to your dashboard.</p>
    <div class="small">Or <mark>mention workspaces by their #ID-NUMBER</mark> with a pound-sign prefixed, to allocate task to your team's project.</div>
    <form class="form">
        <textarea id="newTaskTextBox" class="" placeholder="start typing..."></textarea>
        <button class="btn btn-warning btn-sm" type="submit"><i class="bi bi-house-add"></i> save</button>
    </form>
    <form class="d-inline-block" method="GET" action="#">
        <button id="taskCreateBtn" class="btn btn-sm btn-secondary open-form" type="button" data-bs-toggle="modal" data-bs-target="#taskEditModal">New Task Full</button>
    </form>
  </div>
</div>