<!-- Button trigger modal -->
<!--a class="btn btn-primary task-details-link" data-task-id="" data-bs-toggle="modal" data-bs-target="#taskDetailsModal">View task</a-->

<!-- Modal -->
<div class="modal fade" id="taskDetailsModal" tabindex="-1" aria-labelledby="taskDetailsModalLabel" aria-hidden="true" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header position-relative">
        <h3 class="modal-title" id="taskDetailsModalLabel"><div class="h6 text-muted">[Task #<span id="tid" ></span>]</div><span id="description"></span></h5>
        <a href="#" class="btn-secondary btn-small mx-5 px-5 mt-3 position-absolute top-0 end-0" id="addWatcher" role="button" ><i class="bi bi-bookmark-fill"></i></a>
        <a href="#" class="btn-secondary btn-small mx-5 px-5 mt-3 position-absolute top-0 end-0 d-none" id="removeWatcher" role="button" ><i class="bi bi-bookmark-x-fill"></i></a>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="taskDetailsModalResponse"></div>
        <table class="table table-striped" id="taskDetailsTable">
          <tr>
            <th colspan="1" class="align-text-bottom">Created:</td>
            <td colspan="1" class="align-text-bottom" id="tcreate_time"></td>
            <th colspan="1" class="align-text-bottom">Last Updated:</td>
            <td colspan="1" class="align-text-bottom" id="tupdate_time"></td>
          </tr>
          <tr>
            <th colspan="1" class="align-text-bottom">Created by:</td>
            <td colspan="1" class="align-text-bottom" id="creator_id"></td>
            <th colspan="1" class="align-text-bottom">Assigned to:</td>
            <td colspan="1" class="align-text-bottom" id="assignee_id"></td>
          </tr>
          <tr>
            <th colspan="1" class="align-text-bottom">Status:</td>
            <td colspan="1" class="align-text-bottom" id="status"></td>
            <th colspan="1" class="align-text-bottom">Visibility</td>
            <td colspan="1" class="align-text-bottom" id="visibility"></td>
          </tr>
          <tr>
            <th colspan="1" class="align-text-bottom">Details:</td>
            <td colspan="3" class="align-text-bottom" id="details"></td>
          </tr>
          <tr>
            <th colspan="1" class="align-text-bottom">Deadline:</td>
            <td colspan="1" class="align-text-bottom" id="deadline"></td>
            <th colspan="1" class="align-text-bottom">Assignor:</td>
            <td colspan="1" class="align-text-bottom" id="assignor_id"></td>
          </tr>
          <tr>
            <td colspan="2" class="text-center align-text-bottom">
              <div class="d-none">
                <span id="did"></span>
                <span id="lid"></span>
                <span id="sid"></span>
                <span id="vid"></span>
                <span id="aid"></span>
              </div>
            </td>
            <td colspan="2" class="text-center align-text-bottom">
              <form class="d-inline-block" method="GET" action="#">
                <button id="taskEditBtn" class="button open-form" type="button" data-bs-toggle="modal" data-bs-target="#taskEditModal">edit</button>
              </form>
              <form class="d-inline-block" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="">
                <button class="button" type="submit" id="deleteTaskBtn" data-task-id="">delete</button>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>