<!-- Button trigger modal -->
<!--a class="btn btn-primary task-details-link" data-task-id="" data-bs-toggle="modal" data-bs-target="#taskDetailsModal">View task</a-->

<!-- Modal -->
<div class="modal fade" id="taskDetailsModal" tabindex="-1" aria-labelledby="taskDetailsModalLabel" aria-hidden="true" data-bs-keyboard="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="taskDetailsModalLabel"><div class="h6 text-muted">[Task #<span id="tid" ></span>]</div><span id="description"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="taskDetailsModalResponse"></div>
        <table class="table table-striped" id="taskDetailsTable">
          <tr>
            <th colspan="1" class="align-text-bottom">Created:</td>
            <td colspan="1" class="align-text-bottom" id="tcreate_time"></td>
            <th colspan="1" class="align-text-bottom">Last Updated:</td>
            <td colspan="1" class="align-text-bottom" id="tupdate_time"></td>
          </tr>
          <tr>
            <th colspan="1" class="align-text-bottom">Created by:</td>
            <td colspan="1" class="align-text-bottom" id="creator_id"></td>
            <th colspan="1" class="align-text-bottom">Assigned to:</td>
            <td colspan="1" class="align-text-bottom" id="assignee_id"></td>
          </tr>
          <tr>
            <th colspan="1" class="align-text-bottom">Status:</td>
            <td colspan="1" class="align-text-bottom" id="status"></td>
            <th colspan="1" class="align-text-bottom">Visibility</td>
            <td colspan="1" class="align-text-bottom" id="visibility"></td>
          </tr>
          <tr>
            <th colspan="1" class="align-text-bottom">Details:</td>
            <td colspan="3" class="align-text-bottom" id="details"></td>
          </tr>
          <tr>
            <th colspan="1" class="align-text-bottom">Deadline:</td>
            <td colspan="1" class="align-text-bottom" id="deadline"></td>
            <th colspan="1" class="align-text-bottom">Assignor:</td>
            <td colspan="1" class="align-text-bottom" id="assignor_id"></td>
          </tr>
          <tr>
            <td colspan="2" class="text-center align-text-bottom">
              <div class="d-none">
                <span id="did"></span>
                <span id="lid"></span>
                <span id="sid"></span>
                <span id="vid"></span>
                <span id="aid"></span>
              </div>
            </td>
            <td colspan="2" class="text-center align-text-bottom">
              <form class="d-inline-block" method="GET" action="#">
                <button id="editTaskBtn" class="btn btn-secondary btn-sm open-form" type="button" data-bs-toggle="modal" data-bs-target="#taskEditModal"><i class="bi bi-pencil-square"></i> edit</button>
              </form>
              <form class="d-inline-block" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="">
                <button id="deleteTaskBtn" class="btn btn-secondary btn-sm" type="submit" data-task-id=""><i class="bi bi-trash3-fill"></i> delete</button>
              </form>
              <a id="addWatcher" href="#" class="btn btn-info btn-sm mx-3" role="button" ><i class="bi bi-eye-fill"></i></a>
              <a id="removeWatcher" href="#" class="btn btn-secondary btn-sm mx-3 d-none" role="button" ><i class="bi bi-eye-slash-fill"></i></a>
            </td>
          </tr>
        </table>
        <div id="comments" class="container">
          <div id="createComment" class="row">
            <div class="col-12">
              <form method="post" id="newCommentForm">
                {% csrf_token %}
                <div id="commentEditor" class="rich-editor" data-field-name="comment" contenteditable="true" placeholder="add comment..."></div>
                <input type="hidden" id="comment" name="comment">
                <input type="text"  maxlength="6000" required="" id="id_description">
                <button id="saveComment" class="btn btn-info btn-sm" type="button"><i class="bi bi-pencil-square"></i> comment</button>
              </form>
            </div>
          </div>
          <div id="commmentContainer" class="row">
            <div id="commentRecord" class="col-11" data-comment-id="">
              <span class="creator_id"></span> | <span class="create_time"></span> | <span class="update_time"></span>
              <div class="comment-text"></div>
              <div class="children"></div>
            </div>
            <div class="col-1 options">
              <div id="replyComment" class="btn btn-sm btn-info"><i class="bi bi-reply"></i></div>
              <div id="deleteComment" class="btn btn-sm btn-info"><i class="bi bi-trash3"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>