<!-- base.html for Tasks -->
{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Template {% endblock %} - Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/dotzstrap.css' %}?time={{ timestamp }}"> 
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicon_bw/apple-touch-icon.png' %}?time={{ timestamp }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon_bw/favicon-32x32.png' %}?time={{ timestamp }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicon_bw/favicon-16x16.png' %}?time={{ timestamp }}">
    <link rel="manifest" href="{% static 'media/favicon_bw//site.webmanifest' %}?time={{ timestamp }}">
  </head>
  <body>
    <div class="container">
        {% include 'includes/header.html' %}
        <div class="row align-items-start">
            <div class="contentWD col-12">
                <div class="p-3"><h4>{% block page_heading %}Your content{% endblock %}</h4></div>
                {% block content %}
                    <p> some sort of content </p>
                {% endblock %}
            </div>
        </div>
        {% include 'includes/footer.html' %}
        <div class="fixed-bottom p-3 d-flex justify-content-start">
          <a class="btn btn-warning btn-lg bottom-0 start-0 m-2" data-bs-toggle="offcanvas" href="#newTaskCanvas" role="button" aria-controls="offcanvasExample"><i class="bi bi-vector-pen"></i> new</a>
        </div>
    </div>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}?time={{ timestamp }}"></script>
    <script type="module" src="{% static 'dist/users-bundle.js' %}?time={{ timestamp }}"></script>
  </body>
</html>