.reenie-beanie-regular {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}

.vollkorn-bold {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.vollkorn-reg {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
