{% extends "core/base.html" %}

{% block title %} Dotz CRM + PM Software {% endblock %}

{% block page_heading %}Login Page{% endblock %}

{% block content %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <form id="loginForm" method="post" action="">
        {% csrf_token %}
        <table class="table table-striped">
            {{ form.as_table }}
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <div class="mt-3 small"><a href="{% url 'password_reset' %}">Lost password?</a></div>
{% endblock %}
