<!-- workspace/ProjectEditForm Component Modal -->
<div class="modal fade" id="workspaceProjectEditForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="workspaceProjectEditFormLabel" aria-hidden="true" data-state-component="workspace|projectEditForm" data-state-initialize="false">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h6>WorkSpace Edit Panel</h6>
        <h3 class="modal-title" id="workspaceProjectEditFormLabel"><div class="h6 text-muted d-none">[WorkSpace #<span id="wowo_id" ></span>]</div><span id="name" class="d-none"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="workspaceProjectEditFormResponse"></div>
        <form method="post" id="workspaceProjectEditFormForm">
            {% csrf_token %}
            {{ workspaceForm.as_div }}
            <div class="row bg-body-secondary mt-3 p-2">
              <div class="col-12 d-flex justify-content-end">
                <input id="workSpaceEditFormSaveBtn" class="btn btn-info btn-sm" type="submit" value="Save" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Submit form. Response with be displayed near top of form.">
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>