<!-- Button trigger modal -->
<!--a class="btn btn-primary task-details-link" data-taskId="" data-bs-toggle="modal" data-bs-target="#taskDetailsModal">View task</a-->

<!-- Modal -->
<div class="modal fade" id="workSpaceEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="workSpaceEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h6>WorkSpace Edit Panel</h6>
        <h3 class="modal-title" id="workSpaceEditModalLabel"><div class="h6 text-muted d-none">[WorkSpace #<span id="wowo_id" ></span>]</div><span id="name" class="d-none"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="workSpaceEditModalResponse"></div>
        <form method="post" id="workSpaceEditForm">
            {% csrf_token %}
            <table class="table table-striped">
                {{ workspaceForm.as_div }}
                <tr>
                    <th></th>
                    <td><input type="submit" value="Save" id="workSpaceEditFormSaveBtn"></td>
                </tr>
            </table>
        </form>
      </div>
    </div>
  </div>
</div>