{% extends 'tasks/base.html' %}

{% block title %} Tasks Home {% endblock %}

{% block page_heading %}Tasks Management Console{% endblock %}

{% block content %}
{% include 'tasks/viewTaskModal.html' %}
{% include 'tasks/editTaskModal.html' %}
{% include 'tasks/editWorkSpaceModal.html' %}
  <div id="tasksDashboard" class="tab-dashboard">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="tab nav-link mx-1 active" id="tab-personal-btn" data-bs-toggle="tab" data-tab-name="personal" aria-controls="pane-personal" data-extra="default" type="button" role="tab" aria-selected="true">Personal</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="tab nav-link mx-1" id="tab-workspaces-btn" data-bs-toggle="tab" data-tab-name="workspaces" aria-controls="pane-workspaces" data-extra="" type="button" role="tab" aria-selected="false">Workspaces</button>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <div id="pane-personal" class="tab-pane active" role="tabpanel" aria-labelledby="tab-personal-btn">
        <div id="personalContainer" class="tab-results">
          <div class="container-fluid">
            <div class="row align-items-start">
              <div id="dashboardTodoList" class="col-12 col-md-6" data-state-initialize="true" data-state-tbl-key='["tata"]'>
                <div class="row my-2 align-items-center d-flex">
                  <div class="col-6">
                    <h4 class="my-2">YOUR TODOs...</h4>
                  </div>
                  <div class="col-4">
                  </div>
                  <div class="col-1 align-items-end">
                    <a class="btn btn-xs btn-info refresh-btn" role="button" data-state-key="personalTodos" data-app="tasks" data-component="dashboardTodoList" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Refresh List"><i class="bi bi-arrow-clockwise"></i></a>
                  </div>
                  <div class="col-1 align-items-end">
                    <a class="btn btn-xs btn-info" data-bs-toggle="offcanvas" href="#rightSideCanvas" role="button" aria-controls="rightSideCanvas" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add New"><i class="bi bi-plus-lg"></i></a>
                  </div>
                </div>
                <div id="dashboardTodoListResponse"></div>
                <ul id="personalTodos" class="list-group m-2">
                  <li class="list-group-item row d-flex p-0">
                    <div class="col-1  align-items-center my-3"><span id="" class="btn btn-info btn-sm status p-1" role="button"><i class="bi bi-clipboard assigned d-none" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mark as completed."></i><i class="bi bi-clipboard-check-fill completed d-none" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mark as incomplete."></i></span></div>
                    <div class="col-10 my-3"><span id="" class="description" data-task-id=""></span></div>
                    <div class="col-1 align-items-center my-3"><span class="delete btn bg-drkblue p-1" role="button"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Remove. Irreversible action."><i class="bi bi-trash3"></i></span></div>
                  </li>
                </ul>
              </div>
              <div id="dashboardAssignedTaskList" class="col-12 col-md-6" data-state-initialize="true" data-state-tbl-key='["tata"]'>
                <div class="row px-3 my-2 align-items-center d-flex">
                  <div class="col-6">
                    <h4 class="my-2">ASSIGNED TASKS:</h4>
                  </div>
                  <div class="col-5">
                  </div>
                  <div class="col-1 align-items-end">
                    <a class="btn btn-xs btn-info me-1 refresh-btn" role="button" data-state-key="personalAssignedTasks" data-app="tasks" data-component="dashboardAssignedTaskList" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Refresh List"><i class="bi bi-arrow-clockwise"></i></a>
                  </div>
                </div>
                <div id="dashboardAssignedTaskListResponse"></div>
                <ul class="list-group m-2 workspace-tasks">
                  <li class="list-group-item">
                    <a class="link task-details-link description" data-task-id="" role="button" data-bs-toggle="modal" data-bs-target="#taskDetailsModal"></a>
                    <div class="text-muted small"><span class="status"></span> | <span class="tata_update_time"></span> | Deadline: <span class="deadline"></span></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="pane-workspaces" class="tab-pane" role="tabpanel" aria-labelledby="tab-workspaces-btn">
        <div id="workspacesContainer" class="tab-results">
          <div id="ws_workspacesResponse"></div>
          <div id="ws_workspaces" data-state-initialize="false" data-state-tbl-key='["wowo"]'>
            {% include 'tasks/workspaceArena.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'tasks/rightSideCanvas.html' %}
{% endblock %}