<!--Include file: holds the WorkSpaces Arena-->
<div id="workspaceProjectArenaResponse"></div>
<div id="workspaceProjectArena" class="collapse show workspace-multi-collapse position-relative" data-state-component="workspace|projectArena" data-state-initialize="false" data-state-tbl-key='["tata"]'>
  <div class="row">
    <div class="col-12 col-md-3 backlog-col">
      <h6>backlog</h6>
      <div class="card d-none mt-2 mb-2">
        <div class="card-body bg-body-secondary">
          <h6 class="btn card-title embed description text-start lead" role="button" data-bs-toggle="modal" data-bs-target="#taskDetailsView"  data-state-trigger="taskDetailsView" data-state-mapper-task-id="">Temp Task</h6>
          <p class="card-text mx-3 text-muted small"><span class="embed status"></span><span class="embed assignee_id"></span><span class="embed creator_id"></span><span class="embed deadline"></span></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 started-col">
      <h6>started</h6>
    </div>
    <div class="col-12 col-md-3 under-review-col">
      <h6>under review</h6>
    </div>
    <div class="col-12 col-md-3 completed-col">
      <h6>completed</h6>
    </div>
  </div>
</div>
      