<div id="workspaceManagementDashboardResponse"></div>
<div id="workspaceManagementDashboard" class="collapse workspace-multi-collapse position-relative"  data-state-component="workspace|managementDashboard" data-state-initialize="false" data-state-tbl-key='["tata", "wowo"]'>
  <div class="row">
    <div class="col-12">
      <h5>Sprint Management Board</h5>
      <div class="term-bucket">
        <div class="card mt-2 mb-2">
          <div class="card-body bg-body-secondary">
            <h6 class="btn card-title lead embed description">Temp Task</h6>
            <p class="card-text mx-3 text-muted small"><span cass="embed deadline"></span><span cass="embed status"></span><span cass="embed assignee_id"></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>