<!--Include file: holds the WorkSpaces Arena-->
<div id="wsTabs" class="tab-sub-dashboard">
  <ul id="workspacesTabNav" class="nav nav-tabs mt-1" role="tablist">
    <li class="nav-item d-none" role="presentation">
      <button class="tab nav-link mx-3" id="tab--btn" type="button" role="tab">Some Tab</button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane d-none" role="tabpanel" data-state-initialize="false" data-state-tbl-key='["tata"]'>
      <div class="tab-results container-fluid">
        <ul id="ws-navbar" class="nav justify-content-end navbar bg-body-secondary mt-1 mb-3">
          <li class="nav-item">
            <a id="manageWorkSpace" class="nav-link team-lead" role="button" data-bs-toggle="tab" data-wowo-id="" data-bs-toggle="collapse" data-bs-target=".workspace-multi-collapse" aria-expanded="false" aria-controls="WSDB WSMNGR"><i class="bi bi-kanban"></i> Manage</a>
          </li>
          <li class="nav-item">
            <a id="editWorkSpaceBtn" class="nav-link team-lead open-form" data-bs-toggle="tab" data-wowo-id="" role="button" data-bs-toggle="modal" data-bs-target="#workSpaceEditModal"><i class="bi bi-gear"></i> Edit</a>
          </li>
          <li class="nav-item">
            <a id="deleteWorkSpace" class="nav-link team-lead" data-bs-toggle="tab" href="#"><i class="bi bi-folder-x"></i> Delete</a>
          </li>
          <li class="nav-item">
            <a id="newWorkSpaceTask" class="nav-link open-form" data-bs-toggle="tab" data-wowo-id="" role="button" data-bs-toggle="modal" data-bs-target="#taskEditModal"><i class="bi bi-file-earmark-plus"></i> Add Task</a>
          </li>
        </ul>
        {% include 'tasks/workspaceManager.html' %}
        <div id="WSDBResponse"></div>
        <div id="WSDB" class="collapse show workspace-multi-collapse position-relative">
          <div class="row">
            <div class="col-12 col-md-3 backlog-col">
              <h6>backlog</h6>
              <div class="card d-none mt-2 mb-2">
                <div class="card-body bg-body-secondary">
                  <h6 class="btn card-title embed description text-start lead" role="button" data-bs-toggle="modal" data-bs-target="#taskDetailsModal">Temp Task</h6>
                  <p class="card-text mx-3 text-muted small"><span class="embed status"></span><span class="embed assignee_id"></span><span class="embed creator_id"></span><span class="embed deadline"></span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 started-col">
              <h6>started</h6>
            </div>
            <div class="col-12 col-md-3 under-review-col">
              <h6>under review</h6>
            </div>
            <div class="col-12 col-md-3 completed-col">
              <h6>completed</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>